.footer {
  position: absolute;
  right: 0;
  bottom: 3px;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: stretch;
  width: auto;
  height: 45px;
  background-color: var(--primary-color);
  color: var(--inverted-secondary-color);
  font-size: 15px;
  line-height: 15px;
  transition: bottom 0.3s linear;

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__button {
    fill: var(--inverted-secondary-color);

    &.active {
      fill: var(--accent-color);
    }
  }
}

.playlist-visible .footer {
  bottom: -60px;
  transition: all 0.3s ease-in;
}
